# Database Configuration Credentials
DB_URL=jdbc:mysql://localhost:3306/portfolio_db?useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD="asusvivobook@2026"

# Gmail SMTP Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=forvsbclguse@gmail.com
MAIL_PASSWORD=obbu kjqv msea vjqg
OWNER_EMAIL=forvsbclguse@gmail.com

# CORS Allowed Origins (Comma-separated)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://abhiroopabhagavathin.github.io
